.container {
  /* position: relative; */
  display: flex;
}

.sidebar {
  flex: 1;
  background-color: var(--bgSoft);
  padding: 20px;
  position: fixed;
  overflow: auto;
  height: 100vh;
  min-width: 300px;
}

/* scrollbar */
.sidebar {
  --sb-track-color: #232e33;
  --sb-thumb-color: #6baf8d;
  --sb-size: 10px;

  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

.sidebar::-webkit-scrollbar {
  width: var(--sb-size);
}

.sidebar::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 19px;
}

.sidebar::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 19px;
}
/* scrollbar */

.navbar {
  flex: 4;
  padding: 20px;
  max-width: 100%;
  min-width: 80%;
  box-sizing: border-box;
  position: fixed;
  left: 20%;
  z-index: -1;
}

.wrapper {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  overflow-y: auto;
  height: 100vh;
}

/* wrapper scrollbar */
.wrapper {
  --sb-track-color: #232e33;
  --sb-thumb-color: #6baf8d;
  --sb-size: 10px;

  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

.wrapper::-webkit-scrollbar {
  width: var(--sb-size);
}

.wrapper::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

.wrapper::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
}
/* wrapper scrollbar */

.main {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.rightbar {
  flex: 1;
  position: sticky;
  top: 0;
}
