.container {
  /* display: flex;
  flex-direction: column;
  gap: 20px; */
  background-color: var(--bgSoft);
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  background-color: #5d57c9;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: var(--textSoft);
}
